.ui.button:hover {
  background-color: #218838; 
}

.ui.button:active {
  background-color: #1e7e34;
}
.main-container, .ui.category.search, .button-container {
  margin: 0 20rem;
}

.ui.category.search {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

#editIcon:hover, #deleteIcon:hover{
  transform: scale(1.3);
  transition: transform 0.2s;
}

#editIcon, #deleteIcon{
  margin: 0 10px;
}

/* SideBar  */
.ui.stackable.menu {
  background-color: #1b1c1d !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra esté por encima del contenido */
}

.ui.stackable.menu {
  background-color: #1b1c1d;
}

.ui.stackable.menu .item {
  color: #fff;
}

.cerrar-sesion {
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 20px;
}

.cerrar-sesion i {
  margin-right: 8px;
  font-size: 1.2em;
  color: #ff4500;
}

.cerrar-sesion a {
  text-decoration: none;
  color: inherit;
}

.cerrar-sesion:hover a {
  color: #ff4500;
}

.cerrar-sesion:hover i {
  transform: scale(1);
  transition: transform 0.2s;
}

@media (max-width: 768px) {
  .main-container, .ui.category.search, .button-container {
    margin: 0 2rem; /* Reduce el margen en pantallas pequeñas */
  }

  .ui.stackable.menu .item {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente para pantallas pequeñas */
  }

  .cerrar-sesion {
    margin-right: 10px;
  }
}
td.center.aligned {
  vertical-align: middle;
}

.titulo-gestion-prod{
  color: black !important;
}

table.ui.celled.table th.center.aligned,
table.ui.celled.table td.center.aligned {
    text-align: center;
    vertical-align: middle;
}

/* Ancho fijo para la columna de acciones */
th.actions-column, td.actions-column {
    width: 100px; /* Puedes ajustar este valor */
}

/* .toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  max-width: 300px;
} */