.ui.button:hover {
  background-color: #218838; /* Color más oscuro al pasar el ratón /
}

.ui.button:active {
  background-color: #1e7e34; / Color aún más oscuro al hacer clic */
}
.main-container, .ui.category.search, .button-container {
  margin: 0 20rem;
}

.ui.category.search {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

#editIcon:hover, #deleteIcon:hover{
  transform: scale(1.3);
  transition: transform 0.2s;
}

#editIcon, #deleteIcon{
  margin: 0 10px;
}

/* SideBar  */
.ui.stackable.menu {
  background-color: #1b1c1d !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra esté por encima del contenido */
}

.ui.stackable.menu {
  background-color: #1b1c1d;
}

.ui.stackable.menu .item {
  color: #fff;
}