/* Login Styles */
/*
    Paleta de Colores:
        #f9b296
        #f37281
        #c66c86
        #6f5a7d
        #325d7f
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
a,
div,
span {
  font-family: "Montserrat", sans-serif !important;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Content Titles */
.content-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 5%;
}

.content-subtitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
}

/* Login Container with Gradient Animation */
.login-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.login-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(270deg, #1c2b5a, #2b67a3, #2b5579, #3b6d92);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  filter: blur(8px);
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header,
.form-side {
  position: relative;
  z-index: 1;
}

/* Form Side */
.form-side {
  width: 30%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.hidden {
  display: none;
}

/* Opti Logo */
.opti-logo-login img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Submit Button */
.ui.fluid.large.teal.submit.button {
  background-color: #f37281;
  transition: background-color 0.3s ease;
  font-size: large;
}

.ui.fluid.large.teal.submit.button:hover {
  background-color: #f74a5e;
}

/* Stacked Segment (Form Box) */
.ui.stacked.segment {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  /* -webkit-backdrop-filter: blur(3px); */
  border: 1px solid rgba(255, 255, 255, 0);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  z-index: 10;
}

/* Estilos para el texto dentro de los campos input */
.ui.input input,
.ui.form input {
  color: white !important;
}

.ui.form .field .ui.input input {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 16px;
  color: #000;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ui.form .field .ui.input input::placeholder {
  color: #666;
  font-size: large;
}

.ui.teal.submit.button {
  background-color: rgba(0, 87, 128, 0.8);
  border-radius: 16px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Message Box */
.ui.message {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  /* -webkit-backdrop-filter: blur(3px); */
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: white;
  font-size: large;
}

/* Technical Support Link */
.sop-tec {
  color: rgba(212, 211, 211, 0.747);
  text-decoration: underline;
}

.sop-tec:hover {
  color: #4ac6ff;
  text-decoration: underline;
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .login-container {
    justify-content: center;
  }

  .form-side {
    width: 80%;
    height: auto;
    padding: 20px;
    opacity: 1;
  }

  .ui.stacked.segment {
    padding: 2rem;
  }

  .opti-logo-login img {
    width: 80px;
  }

  .ui.form .field .ui.input input {
    font-size: 14px;
  }

  .ui.teal.submit.button {
    font-size: 14px;
    padding: 10px;
  }

  .ui.message {
    font-size: 12px;
  }
}

/* Media Queries for Very Small Screens (Mobiles) */
@media (max-width: 480px) {
  .form-side {
    width: 95%;
    opacity: 1;
  }

  .ui.stacked.segment {
    padding: 1.5rem;
  }

  .opti-logo-login img {
    width: 60px;
  }

  .ui.form .field .ui.input input {
    font-size: 12px;
  }

  .ui.teal.submit.button {
    font-size: 12px;
    padding: 8px;
  }

  .ui.message {
    font-size: 10px;
  }
}

/* Footer */
.ui.inverted.vertical.footer.segment.form-page {
  background: rgba(50, 94, 127, 0);
}

.footer-container {
  width: 100%;
  z-index: 999;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-text p {
  color: white;
  margin: 0;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #4ac6ff;
}

@media (max-width: 768px) {
  .footer-links {
    display: none;
  }

  .footer-content {
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .footer-links {
    display: inline-block;
  }
}

/* Left Icon Input */
.ui.left.icon.input {
  position: relative;
}

.ui.left.icon.input i.fas.fa-lock, 
.ui.left.icon.input i.fas.fa-envelope {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3975a3;
}

/* Show/Hide Password */
#togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3975a3;
  cursor: pointer;
  z-index: 1;
}

input[type="text"],
input[type="password"] {
  padding-left: 35px; 
  padding-right: 35px; 
}

.ui.left.icon.input input {
  width: 100%; 
  box-sizing: border-box; 
}


/* Popup */
.ui.popup {
  background-color: #3975a3 !important;
  color: white !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

/* Main Login Container */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

header {
  width: 65%;
}

/* Text Styles */
.text-container-frase {
  padding-top: 7%;
  padding-left: 9%;
}

/* Ajustar el tamaño y alineación de la imagen "O" */
.last-o img {
  width: 1em; /* Ajustar el tamaño en proporción al texto */
  height: 1em; /* Mantener proporciones cuadradas */
  vertical-align: middle; /* Alinear verticalmente con el texto */
  border-radius: 50%; /* Hacer la imagen redonda */
}

#my-text {
  color: white;
  font-size: 7rem;
  text-transform: uppercase;
  font-style: oblique;
  font-family: "Montserrat", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 0;
  text-align: left;
}

@media (max-width: 1024px) {
  #my-text {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  #my-text {
    font-size: 3rem;
  }
  .text-container-frase {
    padding-left: 5%;
  }

  header.text-container-frase {
    display: none;
  }

  .form-side {
    width: 100%;
    border-radius: 0; 
  }
}

/* Efecto de subrayado en la palabra OptiFlow */
.highlight {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0; /* Inicia con el ancho en 0% */
  background-color: white;
  transition: width 1s ease-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0; /* Inicia con el subrayado oculto */
  background-color: white;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

/* Footer Adjustments */
footer {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header h1,
header h2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

header h1 {
  animation-delay: 0.5s;
}

header h2:nth-of-type(1) {
  animation-delay: 1s;
}

header h2:nth-of-type(2) {
  animation-delay: 1.5s;
}

header h2:nth-of-type(3) {
  animation-delay: 2s;
}

header h2:nth-of-type(4) {
  animation-delay: 2.5s;
}

.loading-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 0 0 rgba(35, 131, 233, 0.6);
  animation: wave 2s infinite ease-out;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(35, 131, 233, 0.6);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 100px rgba(35, 131, 233, 0);
    opacity: 0;
  }
}

/* .sop-tec {
  color: #fff;
  font-style: italic;
  text-decoration: underline;
  
}

.sop-tec:hover {
  color: #000;
  text-decoration: underline;
} */

/* Modal Soporte tecnico */
#enviarSoporte {
  background-color: #f37281;
}

#enviarSoporte:hover {
  background-color: #f74a5e;
}

#soporteModal .ui.form input[type="email"],
#soporteModal .ui.form textarea {
  color: black !important;
  background-color: white !important;
}

#soporteModal .ui.form input[type="email"]::placeholder,
#soporteModal .ui.form textarea::placeholder {
  color: #666 !important;
}

.redirect-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Puedes cambiar el color o agregar un gradiente */
  z-index: 1000;
}

.fas {
  font-size: 22px;
}
