body {
  background-color: #1b1c1d;
  color: #ffffff;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #1b1c1d;
  margin-top: 3%;
}

.ui.grid {
  margin-top: 20px;
}

.ui.table {
  background-color: #2e2e2e;
}

.ui.segment {
  background-color: #2e2e2e !important;
}

.ui.button {
  background-color: #6441a5 !important;
  color: #ffffff !important;
}

.apexcharts-canvas {
  background: transparent;
}

#chart {
  max-width: 50%;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.ui.segment h3 {
  text-align: center;
}
.title-container h3 {
  justify-self: center; 
  margin: 0;
  padding: 5px 0;
}
.apexcharts-legend-text {
  color: #ffffff !important;
}

.apexcharts-legend-marker {
  border-color: #ffffff !important;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  text-align: center;
  margin-bottom: 1px ;
}

.legend-table {
  justify-self: end; 
  display: flex;
  align-items: center;
}

.legend-title {
  font-size: 14px;
  color: #ffffff;
}

.question.circle.icon {
  margin-left: 5px;
  cursor: pointer;
  color: #ffffff;
}

.legend-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-blue {
  background-color: #3498db;
}

.icon-green {
  background-color: #2ecc71;
}

.icon-orange {
  background-color: #f39c12;
}

.icon-red {
  background-color: #e74c3c;
}

.ui.modal {
  background-color: #2e2e2e !important;
  color: white;
}

.span-leyenda {
  color: #1b1c1d;
}

.ui.table thead th {
  padding: 8px ;
}

.ui.segment {
  padding: 3px ;
}