/* Estilos globales */
body,
h1,
h2,
h3,
p,
a,
div,
span {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h3,
h4,
p {
  /* color: #ffffff; */
  color: #000;
}

body {
  font-family: "Montserrat", system-ui !important;
  font-optical-sizing: auto;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  font-style: normal;
}

nav {
  background-color: #007bff;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  position: absolute;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.pusher {
  overflow: hidden;
  position: relative;
}

.cerrar-sesion {
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 20px;
}

.cerrar-sesion i {
  margin-right: 8px;
  font-size: 1.2em;
  color: #ff4500;
}

.cerrar-sesion a {
  text-decoration: none;
  color: inherit;
}

.cerrar-sesion:hover a {
  color: #ff4500;
}

.cerrar-sesion:hover i {
  transform: scale(1);
  transition: transform 0.2s;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chart {
  width: 48%;
  height: 500px;
}

.resumen-titulo {
  text-align: center;
}

.ui.unstackable.menu {
  background-color: #1b1c1d !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que la barra esté por encima del contenido */
}

.ui.unstackable.menu {
  background-color: #ffffff00;
}

.ui.unstackable.menu .item {
  color: #fff;
}

.content-area {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1%;
}

.box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.box .details h3 {
  font-size: 32px;
  margin: 0;
}

.box .details h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

.box1 {
  background: linear-gradient(135deg, #2f80ed, #56ccf2);
}

.box2 {
  background: linear-gradient(135deg, #34d399, #6ee7b7);
}

.box3 {
  background: linear-gradient(135deg, #f2994a, #f2c94c);
}

.box4 {
  background: linear-gradient(135deg, #bb6bd9, #e1bee7);
}

/* Styling for charts container */
#radialBarBottom,
#line-adwords,
#barchart,
#areachart {
  height: 250px;
}

/* Styling for radial bar and chart containers */
#radialBarBottom,
#line-adwords,
#barchart,
#areachart {
  background-color: #0000;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

/* Table styling */
table.ui.celled.table {
  background-color: #ffffff;
  /* border: 1px solid #444; */
}

table.ui.celled.table thead {
  background-color: #fff;
  color: #000;
}

table.ui.celled.table tbody {
  color: #000;
}

table.ui.celled.table tfoot {
  background-color: #fff;
}

.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
  margin-top: 20px; /* Añadir más espacio arriba */
}

.nomus-side {
  font-size: 15px;
}

.gestionador_body {
  background-color: white !important;
}

#container-perfilUsuario {
  margin-top: 4%;
}
#tituloPerfilUsuario {
  /* margin-top: 5%; */
  text-align: center;
  font-size: 2rem;
}

#graficos-container {
  background-color: #1b1c1d;
}
